footer {
  background-color: #373A40;
  color: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  position: absolute;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 30px;
  position: relative;
}
footer .footer-content p {
  margin: 5px 0;
  font-size: 1rem;
  text-align: left;
  display: flex;
  position: relative;
}
footer .footer-content .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
footer .footer-content .social-media a img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  width: 26px;
  height: 26px;
}

/* Responsive */
@media (min-width: 380px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content p {
    margin: 0;
    flex: 1;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .social-media {
    margin-top: 0;
    justify-content: flex-end;
    width: auto;
  }
}
header {
  position: static;
  width: 100%;
}
header h1 {
  color: #EEEEEE;
  font-size: xx-large;
  padding: 10px;
  margin: 0 auto;
  background-color: #DC5F00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.backgroundimage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url("/public/assets/image/arrozito.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .backgroundimage {
    width: 100%;
    height: 150px;
  }
}
.ingredientimer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  height: 250px;
  position: relative;
  width: 100%;
}
.ingredientimer .ingredients {
  grid-column: 1;
  background-color: #686D76;
  border-radius: 0px 0px 18px 18px;
  margin: 0px 5% 5% 5%;
  position: absolute;
  width: 40%;
  height: 200px;
}
.ingredientimer h2 {
  font-size: 1.5vw;
  text-align: center;
  color: #373A40;
  margin-bottom: 0.2rem;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}
.ingredientimer label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  color: #EEEEEE;
  position: relative;
}
.ingredientimer .columns {
  gap: 40px;
  display: flex;
  align-items: start;
  padding-left: 100px;
}
.ingredientimer .checkbox-column {
  display: flex;
  flex-direction: column;
}
.ingredientimer .clock {
  grid-column: 2;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 0px 0px 18px 18px;
  width: 30%;
  margin: 0px 5% 5% 5%;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  position: relative;
}
.ingredientimer .clock .function-buttons button {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.ingredientimer .clock .start-btn {
  background-color: #DC5F00;
  color: white;
}
.ingredientimer .clock .start-btn:hover {
  background-color: #45a049;
}
.ingredientimer .clock .reset-btn {
  background-color: #686D76;
  color: white;
}
.ingredientimer .clock .reset-btn:hover {
  background-color: #e53935;
}

.preparationS {
  height: 258px;
  width: auto;
  position: absolute;
  margin: 0 auto;
}
.preparationS h2 {
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.preparationS .preparation {
  width: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  padding-bottom: 10px;
  gap: 5%;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
