@import "variables";

header {
    h1 {
        color: $base-color;
        font-size: xx-large;
        padding: 10px;
        margin: 0 auto;
        background-color: $fourth-color;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
