@import "variables";

.backgroundimage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url("/public/assets/image/arrozito.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
}
//responsive

@media only screen and (max-width: 600px) {
  .backgroundimage {
    width: 100%;
    height: 150px;
  }
}
