@import "variables";

article {
  left: 0;
  overflow: hidden;
}

.ingredient {
  flex: 1;
  width: 40%;
  background-color: $second-color;
  border-radius: 0px 0px 18px 18px;
  height: 240px;
  margin: 0px 5% 5% 5%;
  position: absolute;
}
h2 {
  font-size: 1.5vw;
  text-align: center;
  color: $third-color;
  margin-bottom: 0.2rem;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow: hidden;
}
label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  color: $base-color;
  position: relative;
}


.columns {
  gap: 40px;
  display: flex;
  align-items: start;
  padding-left: 100px;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
}
