@import "variables";

main {
    position: absolute;
    text-align: center;
    height: 40%;
    p {
        align-content: space-around;
        text-align: center;
        position: relative;
    }
}