
@use "footer";
@use "header";
@use "image";
@use "ingredientimer";
//@use "timer";
//@use "ingredients";
@use "preparation";
@import "variables";

body {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;

}